#footer {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color: black;
  padding: 5rem 10rem;
  color: #fff;
  align-items: center;

  @media only screen and (max-width: 48em) {
    //Tablet L
    grid-template-columns: 1fr;
  }
}

h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  @media only screen and (max-width: 48em) {
    //Tablet L
    padding: 0;
    font-size: 4rem;
  }
}

p {
  font-size: 1.5rem;
  @media only screen and (max-width: 48em) {
    //Tablet L
    // margin: 1;
    font-size: 2rem;
  }
}

#copyright {
  @media only screen and (max-width: 48em) {
    margin-top: 3rem;
    border-top: 1px dashed #eee;
    padding: 1rem;
  }
}
