<div class="header">
  <h1>حول</h1>
</div>
<p class="text">
  متجر الهدايا أو متجر الهدايا التذكارية لدينا هو متجر يبيع الهدايا التذكارية
  بشكل أساسي ، التذكارات والعناصر الأخرى المتعلقة بموضوع أو موضوع معين. ال تشمل
  العناصر المباعة غالبًا أكواب القهوة والحيوانات المحنطة والألعاب والقمصان ،
  البطاقات البريدية والمجموعات المصنوعة يدويًا وغيرها من الهدايا التذكارية التي
  يعتزم الاحتفاظ بها المشتري كتذكار من زيارته أو تقديمه إلى شخص آخر كهدية. هدية
  توجد المتاجر عادة في المناطق التي يزورها العديد من السياح. الفنادق والموتيلات
  في كندا والولايات المتحدة غالبًا ما تتميز بمحل لبيع الهدايا بالقرب من مدخلها.
  توجد أماكن مثل حدائق الحيوان وحدائق الأحياء المائية والمتنزهات الوطنية
  والمتنزهات والمتاحف متاجر الهدايا الخاصة بهم أيضًا ؛ في بعض الحالات تبيع هذه
  المحلات سلعًا أعلى قيمة من متاجر الهدايا غير المرتبطة بالمكان ، وكذلك الحلي.
  هؤلاء تكون المتاجر أحيانًا مصدرًا للدعم المالي للتعليم المؤسسات.
</p>
