div {
  display: grid;
  // grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 5rem;
}

app-nav{
  grid-row: 1/2;
}
#product {
  grid-row: 2/3;
}

app-footer{
  grid-row: 3/4;
}

